<div class="ui modal" id="modal">
  <i class="fas fa-times close"></i>
  <div class="ui header">
    <%= t('.edit') %>
  </div>

  <div class="content">
    <%= form_with model: @event_item, url: admin_event_event_item_path(@event, @event_item) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>
