<td><%= model.name %></td>
<td>
  <%= render 'active_storage_ext/attachments/list', target: model.videos %>
</td>
<td>
  <%= render 'active_storage_ext/attachments/list', target: model.documents %>
</td>
<td><%= model.author&.name %></td>
