<div class="ui modal" id="modal">
  <i class="close icon"></i>
  <div class="ui header blue">
    <%= t('.new') %>
  </div>

  <div class="content">
    <%= form_with model: @event_item, url: admin_event_event_items_path(@event) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>
