<div class="ui top attached tabular menu">
  <%= link_to t('event.admin.event_plans.index.title'), admin_event_crowd_plans_path(@event_crowd), class: active_helper(action: 'index') %>
  <%= link_to t('event.admin.event_plans.plan.title'), plan_admin_event_crowd_plans_path(@event_crowd), class: active_helper(action: 'plan') %>
</div>
