<div class="ui top attached tabular menu">
  <%= link_to t('event.admin.events.show.title'), admin_event_path(@event), class: active_helper(id: @event.id) %>
  <%= link_to t('event.admin.event_items.index.title'), admin_event_event_items_path(@event), class: active_helper(controllers: 'event_items') %>
  <%# link_to 'Exam/Survey', admin_event_papers_path(event_id: @event.id), class: active_helper(controllers: 'event_papers') %>
  <%# link_to 'Finished Exams', admin_event_exams_path(@event), class: active_helper(controllers: 'exams') %>
  <%= link_to t('event.admin.event_participants.index.title'), admin_event_event_participants_path(@event), class: active_helper(controllers: 'event_participants') %>
</div>
