<!DOCTYPE html>
<html>
<head>
  <title>The booking</title>
  <%= stylesheet_link_tag    "the_booking/application", media: "all" %>
  <%= javascript_include_tag "the_booking/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
