<tr>
  <td class="has-text-right"><%= Place.human_attribute_name(:place_number) %></td>
  <td><%= @place.place_number %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Place.human_attribute_name(:time_plans_count) %></td>
  <td><%= @place.time_plans_count %></td>
</tr>
