<div class="ui buttons">
  <div class="ui floating dropdown labeled icon button">
    <span class="text">Filter Posts</span>
    <i class="filter icon"></i>
    <div class="menu">
      <div class="ui icon search input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search tags...">
      </div>
    </div>
  </div>
  <div class="or" data-text="~"></div>
  <div class="ui floating dropdown labeled icon button">
    <span class="text">Filter Posts</span>
    <i class="filter icon"></i>
    <div class="menu">
      <div class="ui icon search input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search tags...">
      </div>
    </div>
  </div>
</div>
