<div class="ui top attached borderless menu">
  <div class="header item">Booking Time Plans</div>
  <div class="right menu">
    <div class="item">
      <%= link_to 'New Booking Time Plan', new_time_plan_path(params[:plan_type], params[:plan_id]), class: 'ui teal button' %>
    </div>
  </div>
</div>

<div class="ui side">
  <div class="content">
    <%= render 'form' %>
    <div id="calendar"></div>
  </div>
  <div class="sidebar">
    <%= render 'table' %>
  </div>
</div>
