<table class="table is-fullwidth">
  <thead>
    <tr>

    </tr>
  </thead>
  <tbody>
    <% @time_list.time_items.each do |time_item| %>
      <tr>
        <td>
          <time data-controller="time" data-format="HH:mm"><%= time_item.start_at.to_s(:rfc822) %></time>
          <span>~</span>
          <time data-controller="time" data-format="HH:mm"><%= time_item.finish_at.to_s(:rfc822) %></time>
        </td>
        <% @plan_items.each do |items| %>
        <td>
          <div>
            <% @plan_items.each do |plan_item| %>
            <span class="button is-small"><%= link_to plan_item.plan_on, admin_plan_item_plan_attenders_path(plan_item), text: true %></span>
            <% end %>
          </div>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
