<tr>
  <td class="text-right"><%= Eventual::TimeList.human_attribute_name(:name) %></td>
  <td><%= @time_list.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Eventual::TimeList.human_attribute_name(:code) %></td>
  <td><%= @time_list.code %></td>
</tr>
