<%= search_form_with model: Place.new(params.permit(:place_number)) do |f| %>
  <div class="fields">
    <%= f.text_field :place_number %>
    <%= f.submit %>
    <%= link_to t('.clear'), filter_params(except: [:place_number]), class: 'ui button' %>
  </div>
<% end %>

