<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('event.admin.places.index.title'), { controller: 'places' } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
