<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('event.admin.events.index.title'), { controller: 'events' } %></li>
    <li><%= @event.name %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
