<div class="ui segment breadcrumb">
  <%= link_to 'Back', booking_time_plans_path, class: 'section' %>
  <i class="fa-regular fa-angle-right divider"></i>
  <div class="active section">Edit</div>
</div>

<div class="ui segment">
  <%= render 'form' %>
</div>
