<div class="ui segment breadcrumb">
  <%= link_to 'Back', booking_time_plans_path, class: 'section' %>
  <i class="fa-light fa-angle-right divider"></i>
  <div class="active section">Show</div>
</div>

<%= render 'show_table' %>
