<div id="wrap_repeat_days" class="field is-horizontal">
<% if model.repeat_type == 'yearly' %>
  <%= f.text_field :repeat_days, multiple: true %>
<% elsif model.repeat_type == 'monthly' %>
  <%= f.collection_check_boxes :repeat_days, '01'..'31', :to_s, ->(i){ i.to_i.ordinalize }, { include_hidden: false } %>
<% elsif model.repeat_type == 'weekly' %>
  <%= f.collection_check_boxes :repeat_days, Date::DAYS_INTO_WEEK, ->(i) { i.second.to_s }, :first, { include_hidden: false } %>
<% elsif model.repeat_type == 'once' %>
  <%= f.date_field :repeat_days %>
<% end %>
</div>
